<head>
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css" />

<style>

a{
    background-color: hsl(0, 0%, 90%);
}
a:nth-child(even) {
    background-color: hsl(0, 0%, 96%);
}

</style>
<script>





function removeorder(id){

	fetch("https://admin.ferox.host/api/delete", 
         { method: 'post', 


         credentials: "same-origin",
             body: JSON.stringify({
    id: id,
  }), 
             headers: {
    'Accept': 'application/json',
    'Content-Type': 'application/json'


  }
         }).then(resp => { 
		console.log(id);
	window.location.replace("https://admin.ferox.host/admin");
});
}


function update(id, what){
if(what == 'due'){
  to = document.getElementById(id).value;
}
	fetch("/api/update", 
         { method: 'post', 
         credentials: "same-origin",
             body: JSON.stringify({
    id: id,
    what: what,
    to: to
  }), 
             headers: {
    'Accept': 'application/json',
    'Content-Type': 'application/json',
    'Authorization': 'Basic ' + btoa('ferox:latijn')


  }
         }).then(resp => { 
		console.log(id);
	window.location.replace("https://admin.ferox.host/admin");
});
}


</script>
<style>
.dateput{
  width:20% !important;
}
html{
  background-color: #209cee;
}
.is-primary{
  background-color: #3273dc !important;
}

</style>
</head>


<body>
<div class="title">  
    <i class="fab fa-facebook-square"></i>erox Hosting
</div>  

<div class="columns   is-mobile">
    <div class="column is-half">
<aside class="menu">


<ul class="menu-list">

	<a class="is-active">Running orders</a>
	<ul>
    <% for(var i=0; i<orders.length; i++) { %>


        
            <a href='#'>
                <li><%= orders[i].username %></li>
                <li><%= orders[i].item %></li>
                <li>€<%= orders[i].price %></li>
                <li><%= orders[i].due %></li>
                <li><%= orders[i].id %></li>
                <li>
                	<button class="button" id="delete" onclick="removeorder(<%= orders[i].id %>)">delete</button>
                  <input class="input dateput" type="text" value="<%= orders[i].due %>" id="<%= orders[i].id %>" placeholder="new date">
                 <button class="button" id="delete" onclick="update(<%= orders[i].id %>, 'due')">Set date</button>
             </li>
            </a>
        
    <% } %>
<ul>


</ul>
</aside>
</div>
  <div class="column is-half">
<div class="is-parent notification is-primary">

<form action="/api/create"  method="post">
 
<div class="field">
  <label class="label">username</label>
  <div class="control">
    <input class="input" type="text" name="username" placeholder="username">
  </div>
</div>
<div class="field">
  <label class="label">item</label>
  <div class="control">
    <input class="input" type="text" name="item" placeholder="item">
  </div>
</div>
<div class="field">
  <label class="label">price</label>
  <div class="control">
    <input class="input" type="number" name="price" placeholder="price">
  </div>
</div>
<div class="field">
  <label class="label">due</label>
  <div class="control">
    <input class="input" type="text" name="due" placeholder="due">
  </div>
</div>
<div class="field">
  <label class="label">userid</label>
  <div class="control">
    <input class="input" type="number" name="userid" placeholder="userid">
  </div>
</div
<div class="field is-grouped">
  <div class="control">
    <button type="submit" class="button is-link">Submit</button>
  </div>
  <div class="control">
    <button class="button is-text">Cancel</button>
  </div>
</div>


</form>



</div> <!-- collumns-->
</div>


</body>